
.board-component-holder {
    display:flex;
    /* border: 10px solid #0E8388; */
}

.board-holder {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:5px;
    flex-wrap: wrap;
    height:500px;
    border: 10px solid #0E8388;
    background-image: url('../../assets/background.png');
    background-size: 500px;
    width:500px;
}

.goat-holder {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    width:200px;
    height:500px;
    border: 10px solid #282A3A;
}

.board-position {
    height:24px;
    width:24px;
    background-color: white;
    margin:36px;
    background-color: #D9D9D9;
    border: 2px solid #0E8388;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiger-piece {
    height: 50px;
    width:50px;
    cursor: pointer;
}

.goat-piece {
    height:55px;
    width:55px;
    position: absolute;
}

.goat-counter {
    font-size: 40px;
    color: #D7D7D7;
}