.navbar {
  background-color: #0e8388;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 5px;
}
.navbar_list {
  margin-top: 20px;
}
.list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.list_topic {
  margin-left: 10px;
  padding-top: 12px;
  text-decoration: none;
}

.list_topic a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.list_topic a:hover {
  font-size: 18px;
  transition: 1;
}
